In [1]:
import pandas as pd   
import numpy as np   
import plotly.graph_objects as go
import math
from utils import StatesDataFrame
from sklearn.metrics.pairwise import cosine_similarity

cleaning

In [2]:
df = StatesDataFrame().df

cleaning

In [3]:
df = df.fillna(0)

In [4]:
df = df[df['date'] == max(df['date'])]

In [5]:
df.drop(columns=['index', 'date', 'fips'], inplace=True)

In [6]:
df = df.set_index('state')

In [7]:
df.loc['AK'].to_numpy().shape

(19,)

In [8]:
def cosine_sim(state):
    sim_list = []
    states = df.index.to_numpy()
    a = df.loc[state].to_numpy()
    for stateB in states:
        b = df.loc[stateB].to_numpy()
        similarity = cosine_similarity(a.reshape(1, -1), b.reshape(1, -1))
        if stateB != state:
            entry = {'state': stateB, 'similarity': similarity[0][0]}
            sim_list.append(entry)
    return pd.DataFrame(sim_list).sort_values(by='similarity', ascending=False)

In [14]:
df = cosine_sim('HI').reset_index().drop(columns=['index']).reset_index()

In [16]:
df['index'] = df['index'] +1

In [17]:
df

    index state  similarity
0       1    ND    0.982310
1       2    WA    0.980540
2       3    UT    0.980039
3       4    GA    0.979278
4       5    ID    0.973420
5       6    NM    0.973248
6       7    TN    0.971579
7       8    FL    0.968796
8       9    ME    0.968504
9      10    OK    0.968470
10     11    OR    0.967567
11     12    WV    0.966852
12     13    TX    0.963271
13     14    LA    0.963144
14     15    NH    0.962560
15     16    MA    0.960721
16     17    AL    0.959988
17     18    RI    0.959263
18     19    VT    0.959240
19     20    PA    0.958781
20     21    MT    0.955188
21     22    IA    0.953792
22     23    NV    0.952702
23     24    IN    0.951790
24     25    MI    0.950490
25     26    CA    0.950338
26     27    DE    0.949245
27     28    AR    0.948303
28     29    WY    0.948138
29     30    OH    0.947796
30     31    IL    0.947681
31     32    NC    0.947563
32     33    AK    0.945801
33     34    MN    0.944511
34     35    DC    0.942997
35     36    AZ    0.941636
36     37    NE    0.941173
37     38    MS    0.940027
38     39    SC    0.938231
39     40    CO    0.937815
40     41    KY    0.937332
41     42    MO    0.933821
42     43    VA    0.933803
43     44    KS    0.927867
44     45    CT    0.927641
45     46    SD    0.925340
46     47    NY    0.922345
47     48    WI    0.922173
48     49    MD    0.919942
49     50    NJ    0.901240